<header>
    <h3>Provider:
        <%= @provider.name %></h3>
</header>

<ul class="actions">
    <li>
    <li><%= link_to "Edit Provider", [:edit, @provider], class: "edit" %>
    </li>
    <li>
        <%= link_to "Delete Provider", [@provider],
                method: :delete,
                data: { confirm: "Are you sure you want to delete this provider?" },
                class: "delete"
            %>
    </li>
</ul>

<ul id="offerings">
    <% @provider.offerings.each do |offering| %>
    <li>
        #<%= offering.id %>
        -
        <%= link_to offering.activity, [@provider, offering] %>
    </li>
    <% end %>
</ul>

</header>
