<header>
    <h1>Offerings</h1>

    <ul class="actions">
        <li>
            <%= link_to "New Offering", new_provider_offering_path(@provider), class: "new" %>
        </li>
    </header>
    <div id="offerings">
        <centre>
            <div class="table-responsive table-striped table-condensed">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Provider</th>
                            <th>Activity</th>
                            <th>Description</th>
                            <th>Place</th>
                            <th>PricingPerPerson</th>
                            <th>Inclusions</th>
                            <th>Exclusions</th>
                            <th>Manipulation</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @offerings.each do |offering| %>
                        <tr>

                            <td>
                                <p><%=  offering.provider %></p>
                            </td>
                            <td>
                                <p><%=  offering.activity %></p>
                            </td>
                            <td>
                                <p><%=  offering.description %></p>
                            </td>
                            <td>
                                <p><%=  offering.place %></p>
                            </td>
                            <td>
                                <p><%=  offering.pricingperperson%></p>
                            </td>
                            <td>
                                <p><%=  offering.inclusions %></p>
                            </td>
                            <td>
                                <p><%=  offering.exclusions %></p>
                            </td>
                            <td>
                                <%= link_to "View Offering", offering_path(offering), class: "new" %>

                                <%= link_to "Edit Offering", edit_offering_path(offering), class: "edit" %>

                                <%= link_to "Delete Offering", offering_path(offering), method: :delete, data: { confirm: "Are you sure you want to delete this offering?" }, class: "delete" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>

                </table>
            </div>
        </centre>

    </div>
                                                                          Z
