<!-- offering detail -->
<div class="container">
  <div class="page-header">
    <h3>Offering Details</h3>
  </div>
  <div class="row">
    <div class="col-md-7">
      <%= render 'layouts/offering/details' %>
    </div>

    <div class="col-md-5">
      <div class="page-header">
        <h3>Swimming with the fishies</h3>
      </div>

      <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui voluptatem sequi nesciunt. Neque porro quisqua. Sed ut perspiciatis unde omnis ste natus error sit voluptatem.

      </p>

      <button type="button" class="btn btn-primary">Add to Wishlist</button>
      <div class="pull-right">
        <button type="button" class="btn btn-warning">Add to Itenary</button>
      </div>

      <div class="page-header">
        <h3>Similar Activities</h3>
      </div>

      <div class="row">
        <div class="col-md-3">
          <img src="http://placehold.it/100x90" alt="">
        </div>

        <div class="col-md-9">

          <h5>CARRIBEAN DIVING</h5>
          <p>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
          </p>
          <p>$75.00</p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-3">
          <img src="http://placehold.it/100x90" alt="">
        </div>
        <div class="col-md-9">
          <h5>Whale Watching</h5>
          <p>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
          </p>
          <p>$45.00</p>
        </div>
      </div>
<hr>
      <div class="row">
        <div class="col-md-3">
          <img src="http://placehold.it/100x90" alt="">
        </div>
        <div class="col-md-9">

          <h5>Bundu bashing</h5>
          <p>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
          </p>
          <p>$15.00</p>

        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-3">
          <img src="http://placehold.it/100x90" alt="">
        </div>
        <div class="col-md-9">

          <h5>Abseiling on a rock</h5>
          <p>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
            <%= fa_icon "star" %>
          </p>
          <p>$95.00</p>

        </div>
      </div>
      <hr>

    </div>
  </div>

</div>
</div>

</div>
<%= render 'layouts/home/footer' %>
