<header>
  <h3>Trip for user :<%= @reservation.user_id %></h3>
</header>

<p><%=@reservation.booking_date %></p>
<p><%=@reservation.start_time %></p>
<p><%=@reservation.end_time %></p>
<p><%=@reservation.status %></p>

    <ul class="actions">
        <li>
          <li><%= link_to "Edit Reservation", [:edit, @trip, @reservation], class: "edit" %>
        </li>
        <li>
            <%= link_to "Delete Reservation", [@trip, @reservation],
                method: :delete,
                data: { confirm: "Are you sure you want to delete this reservation?" },
                class: "delete"
            %>
        </li>
    </ul>
  </header>
