<!-- POPULAR PACKAGES -->
<section id="activities">
  <div class="container-fluid">
    <div class="row">
      <article>
        <div class="row">

          <div class="page-header">
            <h2>Popular Packages</h2>
          </div>

          <% @offerings.each do |offering| %>
          <div class="col-sm-2">
            <div class="thumbnail">
              <% offering.attachments.each do |attachment| %>
              <img src="<%= attachment.file.url %>" alt="">
              <% break %>

              <%end%>
              <div id="image-footer">
                <div id="price">
                  <h5><%= offering.name.upcase %></h5>
                </div>
                <h5><%=  Activity.find(offering.activity_id).name %></h5>

                <%= fa_icon "star" %>
                <%= fa_icon "star" %>
                <%= fa_icon "star" %>
                <%= fa_icon "star" %>
                <%= fa_icon "star" %>
              </div>

              <div class="caption">
                <p>
                  <a href="#" class="btn btn-primary btn-sm" role="button">Activity Details</a>
                  <a href="#" class="btn btn-default btn-sm" role="button">Add to cart</a>
                </p>
              </div>
            </div>
          </div>

          <% end %>
        </div>
        <!-- popular packages row -->

      </div>
    </div>

  </section>
